/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
  text-decoration: none;
}
.list{
    display: flex;
    flex-wrap: wrap;
}
.div{
    width: 370px;
    height: 404px;
}
li:not(:nth-child(3n + 3 + 3)) {
    margin-right: 30px;
}
.main{
    margin: 94px 185px 94px 208px;
}
@font-face {
    font-family:'Roboto-Bold' ;
    src: url(./assets/fonts/Roboto-Bold.ttf);
  }
@font-face {
    font-family:'Roboto-Regular' ;
    src: url(./assets/fonts/Roboto-Regular.ttf);
  }
@font-face {
    font-family:'Raleway-Bold' ;
    src: url(./assets/fonts/Raleway-Bold.ttf);
  }
@font-face {
    font-family:'Roboto-Medium' ;
    src: url(./assets/fonts/Roboto-Medium.ttf);
  }
  .h2{
    font-family: 'Roboto-Bold';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 36px;
letter-spacing: 0.06em;
color: #212121;
margin-left: 24px;
  }
.p{
    font-family: 'Roboto-Regular';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
letter-spacing: 0.06em;
margin-left: 24px;
}
.box2 {
    position: relative;
    overflow: hidden;
    width: 370px;
  }
  
.text {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #2196f3;
  
    font-size: 26px;
  
    padding: 20px;
  
    color: white;
    height: 100%;
    transform: translateX(100%);
    transition: transform 0.3s linear;
}
  
.box2:hover .text {
    background-color: #2196f3;
    transform: translateX(0%);
}
.portfolio{
    color:#2196F3;
}
.portfolio::after {
    content: "";
    display: block;
    background: #2196F3;
    border-radius: 2px;
    width: 78px;
    height: 4px;
}
.header-list{
  display:flex;
}
.Web{
  color: #2196F3;
}
.WebStudio{
  color:#000000;
  font-family: 'Raleway-Bold'; 
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
}
.header-subtitle{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
}
.stydia{
  margin-right: 48px;
}
.portfolio{
  margin-right: 52px;
}
.kontakts{
  margin-right: 312px;
}

.div-logo{
  width: 145px;
height: 31px;
margin-left: 215px;
margin-right: 93px;
margin-top: 24px;
}
.header-div{
  position: fixed;
  left:0;
  top:0;
  z-index:1;
  width: 1600px;
  height: 80px;
  display: flex;
  background-color: white;
}
.header-list-div{
  margin-top: 32px;
}
.header-item{
  margin-bottom: 28px;
}
.header-subtitle{
  margin-bottom: 28px;
  font-family: 'Roboto-Medium';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #212121;
}
.portfolio-h2{
  color:#2196F3;
}
.gmailandtell{
  font-family: 'Roboto-Medium';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #757575;
}
.gmail-div{
  margin-top: 28px;
}
.tell-div{
  margin-top: 28px;
}
.icon{
  margin-right: 10px;
}
.gmail{
  margin-right: 30px;
}

